/*
HTTP Host: s-static.ak.facebook.com
Generated: July 20th 2010 5:22:50 AM PDT
Machine: 10.16.140.110
Locale: nu_ll
Path: css/1zvi4s0973tw080g.pkg.css
*/

.UITwoColumnLayout_Container{margin:0}
.UITwoColumnLayout_Content{float:left}
.UITwoColumnLayout_NarrowContent{float:right}
.UITwoColumnLayout_LeftOrientation .UITwoColumnLayout_Content{float:right}
.UITwoColumnLayout_LeftOrientation .UITwoColumnLayout_NarrowContent{float:left}
.UITwoColumnLayout_TopMargin{padding:17px 0 0 0}
.UIEditorTwoColumnLayout .UITwoColumnLayout_Content{padding:19px 0 15px 0}
.UIEditorTwoColumnLayout .UITwoColumnLayout_NarrowContent{padding:11px 0 11px 0}
.UIThreeColumnLayout_Container{margin:0}
.UIThreeColumnLayout_Left{float:left;padding-right:20px}
.UIThreeColumnLayout_Center{float:left}
.UIThreeColumnLayout_Right{float:right}
.friend_grid .friend_grid_row{margin:10px 0 5px}
.friend_grid .friend_grid_col{float:left;margin-left:10px;overflow:hidden;width:174px}
.friend_grid form.async_saving{opacity:.50;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
.friend_grid .friend_grid_col .fg_name{font-size:11px;font-weight:bold;margin:0 0 1px 0;line-height:14px;width:90px;display:block;*display:inline;word-wrap:break-word}
.friend_grid .friend_grid_col .fg_explain{line-height:14px;padding:0;margin:2px 0 1px 0;color:#777}
.friend_grid .inactive{color:#666}
.pymk_participants_not_expanded .pymk_participants_long,
.pymk_participants_expanded .pymk_participants_short{display:none}
.UIRequestBox_Request{display:block;margin-top:4px}
.UIRequestBox_RequestFirst{margin-top:-1px}
.UIRequestBox_Short .UIRequestBox_Request{float:left;width:125px}
.UIRequestBox_Short .UIRequestBox_RequestOdd{clear:left}
.UIRequestBox_Short .UIRequestBox_RequestSecond{margin-top:-1px}
.fbx .UIRequestBox_Short .UIRequestBox_RequestSecond{margin-top:4px}
.UIMessageBox{padding:10px;border-width:1px;border-style:solid}
.UIMessageBox .sub_message{margin:4px 0 0}
.status{background-color:#fff9d7;border-color:#e2c822}
.error{background-color:#ffebe8;border-color:#dd3c10}
.error a{color:#dd3c10}
.explanation_note{background-color:#fff;border-color:#bdc7d8}
.explanation_note .main_message{font-size:11px}
.explanation_note a{color:#dd3c10}
.UIWell{background:#f2f2f2;border-top:1px solid #ccc;zoom:1}

#bootloader_css_1zvi4s0973tw080g_pkg_css { height: 42px; }